

body {
    background-color: green;
}

.title {
    color: purple;
    text-align: center;
    background-color: aqua;
    font-size: 72px;
}

.recipes {
    font-size: 40px;
    font-family: 'Papyrus';
    padding: 30px;
}

.button {
    height: 150px;
}

.pumpkin {
    color: orange;
}

.tiramisu {
    color: brown;
}

.elephant {
    color: tan;
}