

body {
    background-color: green;
}

.title {
    color: purple;
    text-align: center;
    background-color: aqua;
    font-size: 72px;
}

.recipes-link {
    font-size: 40px;
    font-family: 'Papyrus';
    padding: 40px;
}


.button {
    padding: 0px;
    height: 125px;
}

.pumpkin {
    color: orange;
}

.tiramisu {
    color: brown;
}

.elephant {
    color: tan;
}

.testlink {
    /*font-size: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 100%;
    display: inline-block;
    width: 100%;
    height: 100%;*/
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.testbutton {
    
    justify-content: center;
    width: 500px;
    height: 100px;
}